<section class="seeMore">
  <a href="http://studiotagus.com/{{prev}}.html" class="seeMore__prev seeMore--{{prev}}">
    <i class="icon-left-arrow"></i>{{prev}}
  </a>

  <a href="http://studiotagus.com/{{next}}.html" class="seeMore__next seeMore--{{next}}">
      {{next}}<i class="icon-right-arrow"></i>
  </a>

</section>
