<section class="workInfo">
<div class="wrapper">
  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Empresa</h1>
  <h2>{{project}}</h2>
</div>
  </article>

  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Papel</h1>
  <h2>{{role}}</h2>
</div>
  </article>

  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Ano</h1>
  <h2>{{date}}</h2>
</div>
  </article>

  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Link</h1>
  <h2><a href="{{url}}" target="_blank" class="--hover-slash">{{link}}</a></h2>
</div>
  </article>
</div>

{{> info class="info--project info--disclaimer" title=newTitle subtitle=newSubtitle}}

</section>
